<nav class="navbar navbar-expand-lg bg-primary navbar-dark shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center gap-2" href="/">
      <i class="fa-solid fa-hotel"></i> Pousada PMS
    </a>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="menu" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/rooms"><i class="fa-solid fa-bed"></i> Quartos</a></li>
        <li class="nav-item"><a class="nav-link" href="/reservations"><i class="fa-solid fa-calendar-check"></i> Reservas</a></li>
        <li class="nav-item"><a class="nav-link" href="/customers"><i class="fa-solid fa-users"></i> Clientes</a></li>
        <li class="nav-item"><a class="nav-link" href="/payments"><i class="fa-solid fa-money-bill-wave"></i> Pagamentos</a></li>
        <li class="nav-item"><a class="nav-link" href="/reports"><i class="fa-solid fa-chart-line"></i> Relatórios</a></li>
        <li class="nav-item">
          <a class="nav-link" href="/housekeeping">
          <i class="fa-solid fa-broom"></i> Limpeza
        </a>
      </li>
      </ul>
    </div>
  </div>
</nav>